<div class="abs-center border rounded shadow-sm my-3">
  <div class="container px-lg-5">
    <h2 class="w-100 text-center mt-3">{{ isLogging ? 'Iniciar sesión' : 'Registrarse' }}</h2>

    <form class="form" *ngIf="isLogging; else signUpForm" [formGroup]='loginForm' (ngSubmit)="signIn()">
      <div class="form-group">
        <label for='email'>Email</label>
        <input class="form-control" type='email' name='email' id='email' formControlName="email"
          placeholder="Escribe tu email">
      </div>
      <div class="form-group mt-4">
        <label for='password'>Contraseña</label>
        <input class="form-control" type='password' name='password' id='password' formControlName="password" required
          placeholder="Escribe tu contraseña">
      </div>
      <button class="btn btn-secondary mt-4 w-100 rounded border p-1" type="submit"
        [disabled]="!loginForm.valid">Iniciar sesión</button>
    </form>

    <ng-template #signUpForm>
      <form class="form" [formGroup]='loginForm' (ngSubmit)="signUp()">
        <div class="form-group">
          <label for='email'>Email</label>
          <input class="form-control" type='email' name='email' id='email' formControlName="email"
            placeholder="Ingresa tu email">
        </div>
        <div class="form-group mt-4">
          <label for='password'>Contraseña</label>
          <input class="form-control" type='password' name='password' id='password' formControlName="password" required
            placeholder="Ingresa una contraseña">
        </div>
        <button class="btn btn-secondary mt-4 w-100 rounded border p-1" type="submit"
          [disabled]="!loginForm.valid">Registrarse</button>
      </form>
    </ng-template>

    <p class="or mt-3">Or</p>

    <div class="login-social-media">
      <button (click)="signInWithGoogle()" class="social-button mt-3"><img src="assets/icons/google.svg">
        <span>Iniciar con Google</span></button>
      <button (click)="signInWithFacebook()" class="social-button mt-3"><img src="assets/icons/facebook.svg">
        <span>Iniciar con Facebook</span></button>
      <button (click)="signInWithGitHub()" class="social-button mt-3"><img src="assets/icons/github.svg">
        <span>Iniciar con GitHub</span></button>
    </div>

    <a class="btn text-decoration-underline text-primary my-2" (click)="toggleIsLogging()">
      {{ isLogging ? "Crear cuenta nueva" : "Si ya tienes una cuenta haz click aquí" }}
    </a>
  </div>
</div>